---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main class="m-auto padding-auto max-w-2xl text-white text-lg leading-6 ">
		
	</main>
</Layout>

