table tr.tr-enviado {
    background-color: #e0f7fa !important;
}

table tr.tr-entregado {
    background-color: #dcedc8 !important;
}

table tr.tr-cancelado {
    background-color: #ffcdd2 !important;
}

.detalles-pedido {
    background-color: #f8f9fa; /* Fondo claro para contrastar con la tabla */
    border: 1px solid #dee2e6; /* Un borde similar a la tabla */
    position: relative; /* Aseguramos que el contenedor tenga posición relativa */
    z-index: 1; /* Aseguramos que el contenedor tenga una prioridad más alta en el apilamiento */
    padding: 1rem; /* Espacio interno para que no quede tan ajustado */
    margin: 0; /* Sin margen externo para que ocupe toda la columna */
}
